<footer>
    <div class="logo-footer">
        <a href=""> <img src="./assets/img/svg/odigo-Logo.svg" alt=""></a>
    </div>

    <div class="link-footer">
        <div class="link-item">
            <p>Company</p>
            <a href="#!">About </a>
            <a href="#!">Team</a>
            <a href="#!">Careers</a>
            <a href="#!">Privacy Policy</a>
        </div>
        <div class="link-item">
            <p>Locations</p>
            <a href="#!">Tokyo</a>
            <a href="#!">Kyoto</a>
            <a href="#!">Osaka</a>
            <a href="#!">Hokkaido</a>
        </div>
        <div class="link-item">
            <p>Social Media</p>
            <a href="#!">Facebook</a>
            <a href="#!">Twitter</a>
            <a href="#!">Instagram</a>
            <a href="#!">Youtube</a>
        </div>
    </div>
</footer>