<div class="today-cart-info">
    <div class="text">
        <h1>Get inspired for your next trip</h1>

        <div class="block-blue"></div>
    </div>


    <div class="grid-container">
        <div class="item">
            <div class="item-cart">
                <div class="cart-img NAGOYA">
                    <div class="cart-img-bottom-block">
                        <div class="item-name-cart">
                            <p>NAGOYA</p>
                        </div>
                        <div class="item-like-coment-cart">
                            <p>220 <span><img src="./assets/img/svg/like.svg" alt=""></span></p>
                            <p>50 <span><img src="./assets/img/svg/coment.svg" alt=""></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                Being gorgeous with belly side up i could pee on this.
            </p>
            <button class="button-search">
                SEE MORE
            </button>
        </div>
        <div class="item">
            <div class="item-cart">
                <div class="cart-img NIIGATA">
                    <div class="cart-img-bottom-block">
                        <div class="item-name-cart">
                            <p>NIIGATA</p>
                        </div>
                        <div class="item-like-coment-cart">
                            <p>220 <span><img src="./assets/img/svg/like.svg" alt=""></span></p>
                            <p>50 <span><img src="./assets/img/svg/coment.svg" alt=""></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                Being gorgeous with belly side up i could pee on this.
            </p>
            <button class="button-search">
                SEE MORE
            </button>
        </div>
        <div class="item">
            <div class="item-cart">
                <div class="cart-img OSAKA">
                    <div class="cart-img-bottom-block">
                        <div class="item-name-cart">
                            <p>OSAKA</p>
                        </div>
                        <div class="item-like-coment-cart">
                            <p>220 <span><img src="./assets/img/svg/like.svg" alt=""></span></p>
                            <p>50 <span><img src="./assets/img/svg/coment.svg" alt=""></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                Being gorgeous with belly side up i could pee on this.
            </p>
            <button class="button-search">
                SEE MORE
            </button>
        </div>
        <div class="item">
            <div class="item-cart">
                <div class="cart-img SAITAMA">
                    <div class="cart-img-bottom-block">
                        <div class="item-name-cart">
                            <p>SAITAMA</p>
                        </div>
                        <div class="item-like-coment-cart">
                            <p>220 <span><img src="./assets/img/svg/like.svg" alt=""></span></p>
                            <p>50 <span><img src="./assets/img/svg/coment.svg" alt=""></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                Being gorgeous with belly side up i could pee on this.
            </p>
            <button class="button-search">
                SEE MORE
            </button>
        </div>
        <div class="item">
            <div class="item-cart">
                <div class="cart-img UENO">
                    <div class="cart-img-bottom-block">
                        <div class="item-name-cart">
                            <p>UENO</p>
                        </div>
                        <div class="item-like-coment-cart">
                            <p>220 <span><img src="./assets/img/svg/like.svg" alt=""></span></p>
                            <p>50 <span><img src="./assets/img/svg/coment.svg" alt=""></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                Being gorgeous with belly side up i could pee on this.
            </p>
            <button class="button-search">
                SEE MORE
            </button>
        </div>
        <div class="item">
            <div class="item-cart">
                <div class="cart-img SHIBUYA">
                    <div class="cart-img-bottom-block">
                        <div class="item-name-cart">
                            <p>SHIBUYA</p>
                        </div>
                        <div class="item-like-coment-cart">
                            <p>220 <span><img src="./assets/img/svg/like.svg" alt=""></span></p>
                            <p>50 <span><img src="./assets/img/svg/coment.svg" alt=""></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.
                Being gorgeous with belly side up i could pee on this.
            </p>
            <button class="button-search">
                SEE MORE
            </button>
        </div>
    </div>
</div>