<div class="photo-block">
    <div class="title-block">
        <div class="text">
            <h1>Get inspired for your next trip</h1>

            <div class="block-blue"></div>
        </div>
        <div class="button">
            <h2>VIEW ALL<span><img src="./assets/img/svg/Shape.svg" alt=""></span></h2>
        </div>
    </div>

    <div class="grid-container-top">
        <div class="grid-item-top mount-photo">
            <h1>Mount Fuji</h1>
        </div>
        <div class="grid-item-top kyoto-photo">
            <h1>Mount Fuji</h1>
        </div>
    </div>

    <div class="grid-container-botton">
        <div class="grid-item-botton tokyo-photo">
            <h1>Tokyo</h1>
        </div>
        <div class="grid-item-botton niigata-photo">
            <h1>Niigata</h1>
        </div>
        <div class="grid-item-botton sapporo-photo">
            <h1>Sapporo</h1>
        </div>
    </div>

</div>
