<div class="benefits-block">
    <h1>Benefits of Odigo</h1>

    <div class="container-cart">
        <div class="column-cart">
            <div class="cart">
                <img class="logo-cart" src="./assets/img/svg/Icon.svg" alt="">
                <h3>Welcome to Odigo!</h3>
                <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.</p>
                <h2>LEARN MORE <span><img src="./assets/img/svg/Shape.svg" alt=""></span></h2>
            </div>
        </div>
        <div class="column-cart">
            <div class="cart">
                <img class="logo-cart" src="./assets/img/svg/Icon_2.svg" alt="">
                <h3>Your Personal Japan Guide</h3>
                <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.</p>
                <h2>LEARN MORE <span><img src="./assets/img/svg/Shape.svg" alt=""></span></h2>
            </div>
        </div>
        <div class="column-cart">
            <div class="cart">
                <img class="logo-cart" src="./assets/img/svg/Icon_3.svg" alt="">
                <h3>Promoting Local Businesses</h3>
                <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over.</p>
                <h2>LEARN MORE <span><img src="./assets/img/svg/Shape.svg" alt=""></span></h2>
            </div>
        </div>
    </div>
</div>
