
<div class="info-block">
    <div class="header-info-block">
        <div class="column">
            <img class="info-home-img" src="./assets/img/home.png" alt="">
        </div>
        <div class="column column-text">
            <h1>Prefecture in Focus: Tottori</h1>
            <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being
                gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack
                the child, open the door, </p>
            <div class="button">
                <h2>VIEW PREFECTURE<span><img class="arrow" src="./assets/img/svg/Shape.svg" alt=""></span></h2>
            </div>
        </div>
    </div>

    <div class="bottom-info-block">
        <div class="column column-text first">
            <h1>Featured Neighborhood: Kyoto’s Arashiyama</h1>
            <p>Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being
                gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack
                the child, open the door, </p>
            <div class="button">
                <h2>VIEW NEIGHBORHOOD<span><img class="arrow" src="./assets/img/svg/Shape.svg" alt=""></span></h2>
            </div>
        </div>
        <div class="column second">
            <img class="info-stairs-img" src="./assets/img/stairs.png" alt="">
        </div>
    </div>
</div>